# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# downloaded cosmos / prepare / blob / upload-history cache
/download/*
!/download/.gitkeep
!/download/cosmos/
!/download/prepare/
!/download/blob/
!/download/upload-history/
!/download/cosmos-query/
/download/cosmos/*
!/download/cosmos/.gitkeep
/download/prepare/*
!/download/prepare/.gitkeep
/download/blob/*
!/download/blob/.gitkeep
/download/upload-history/*
!/download/upload-history/.gitkeep
/download/cosmos-query/*
!/download/cosmos-query/.gitkeep

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
.vercel
